
@-ms-viewport{
    width: device-width;
  }

.body {
    font-family: 'horeliosextra_bold';
    background-color: black ;
    margin: 5px;
    padding: 5px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,111,233,1) 35%, rgba(0,212,255,1) 100%);

    
    


}

@font-face {
    font-family: 'horeliosextra_bold';
    src: url('/css/font/horelios_extrabold-webfont.woff2') format('woff2'),
         url('/css/font/horelios_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#pay__eth {
    border-radius: 30px;
    border: none;
    background-color:white;
    padding: 20px;
    font-weight: bold;
    color: #F46EFB;
    width: 200px;
    cursor: pointer;
    box-shadow: rgb(250 250 250 / 30%) 0px 6px 0px -2px;
    height: 70px;
    margin: -10px 310px;
    justify-content: center;
     margin: auto;
    display: block;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    
}

   
#pay__eth:hover {
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%)
}
#pay__eth:hover {
    color: white;
}

.image {
    width: 50%;
    height: 50%;
    text-align: center;
    margin: auto;
    display: block;
   
}


.momy {
padding: 20px;
text-align: center;
display: block;
border: 200px;
height: 10;
align-items: center;
position: relative;






}
.text1 {
    color:white;
    width: 100%;
    
}

.text {
    text-align: center;
    font-size: 15px;
    
}

.insta {
    color: orange;
    text-align: center;
    
}

p {
    font-family: 'horeliosextra_bold';
    font-size: 12PX;
}


.border {
   height: 420px;
    width: 400px;
    margin: 5% auto; 
    left: 0;
    right: 0;
}

.join {
    text-align: center;
    font-family: 'horeliosextra_bold';
}
 

.mint {
    width: 50%;
    height: 50%;
    text-align: center;
    margin: auto;
    display: block;
   
}
.mintday {
    
        width: 50%;
        height: 50%;
        text-align: center;
        margin: auto;
        display: block;
       
    }
